@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap');


.menu_navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: left 0.5s ease;
}

.menu_navigation li,.footer_menu_navigation li {
  max-width: 55%;
  list-style: none;
}

.menu_navigation li .menu_nav_item, .footer_menu_navigation li .menu_nav_item{
  font-family: 'Edu NSW ACT Cursive', cursive;
  font-style: normal;
  font-weight: 600;
  color: #fdd8a7;
  text-decoration: none;
  font-size: 28px;
}

.menu_navigation li a:hover {
  color: #96806c;
}

@media (max-width: 768px) {
  .menu_navigation  {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100vw;
    height: 100vh;
    background-color: #886b55;

    flex-direction: column;
    justify-content: space-around;
    z-index: 1;
  }
 .open{
    left: 0%;
  }

  .header_menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
}