.banner {
  height: 90vh;
  background-image: url("../..//img/photo_2025-08-14_23-27-43.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 100% left 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.banner h1 {
  width: 80%;
  text-align: center;
  font-size: 72px;
  overflow-wrap: break-word;
  color: #fdd8a7;
}

.anim_border{
  height: 2px;
  background-color: #fdd8a7;
  animation: animBorder 2s 1.5s 1 forwards;
}

@keyframes animBorder{
  from{
    width: 0;
  }
  to{
    width: 80%;
  }
}

.banner p {
  width: 40%;
  text-align: center;
  font-size: 24px;
  overflow-wrap: break-word;
  color: #fdd8a7;
}

.link {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.link a {
  text-decoration: none;
  padding: 30px 60px;
  font-size: 36px;
  color: #2e4b47;
  /* border: 2px solid #FDD8A7; */
  background-color: #23322d;
  border-radius: 20px;
  animation: colorChange 1s infinite alternate;
}
@keyframes colorChange {
  0% {
    background-color: #23322d;
    color: #fff;
    scale: 0.95;
  }
  100% {
    background-color: #2e4b47;
    color: #fff;
  }
}

@media (max-width: 1024px) {
  .banner h1 {
    font-size: 56px;
  }
  .banner p {
    width: 60%;
    font-size: 20px;
  }
  .link a {
    font-size: 20px;
    padding: 16px 32px;
  }
}

@media (max-width: 768px){
    .banner {
    background-position: center center;
  }

  .banner h1 {
    width: 90%;
    font-size: 36px;
    line-height: 100%;
  }
  .banner {
    height: 95vh;
    background-position: center center;
  }
  .banner h1 {
    font-size: 42px;
  }
  .banner p {
    width: 70%;
    font-size: 18px;
  }
  .link a {
    font-size: 18px;
    padding: 14px 28px;
  }
}

@media (max-width: 480px) {
  .banner {
    height: 89vh;
    background-position: center center;
    padding: 0 10px;
  }
  .banner h1 {
    width: 100%;
    font-size: 28px;
    line-height: 1.2;
  }
  .banner p {
    width: 90%;
    font-size: 16px;
  }
  .link {
    bottom: 8%;
  }
  .link a {
    font-size: 16px;
    padding: 12px 24px;
    border-radius: 15px;
  }
}