
@font-face {
  font-family: "Exo";
  src: url("../public/font/Exo_2.0_Thin_Italic.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  scroll-behavior: smooth;
}

:root {
  font-family: "Exo";
}
